$facebook: #3b5998;

$size2: 0.125rem;
$size9: 0.5625rem;
$size11: 0.6875rem;
$size12: 0.75rem;
$size14: 0.875rem;
$size26: 1.625rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-normal: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
