.content-wrapper {
  display: flex;
  height: 100vh;
  overflow: auto;
}

.app-logo {
  justify-content: center;
  align-items: center;
  height: 100%;

  &__repository {
    font-weight: $font-weight-semibold;
    font-size: 3rem;
    color: $facebook;
    margin-left: $size14;
  }
}
